.SearchFrame {
    height: 40vh;
    width: 30vw;
    margin-left: 20px;
    margin-bottom: 20px;
    background-color: transparent;
}

.Course {
    background-color: white;
    padding: 5%;
}