.SchedulePageFrame {
    background-color: cornflowerblue;
}

.SchedulePageHeader {
    padding-top: 3vh;
}

.ScheduleFrame {
    height: 88vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
}